// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
	font-size: inherit;
}

$green1: #01737b;
$green2: #004346;
$grey_dark: #2c313d;

.nav {
	background: #fff;
	border-bottom: 1px solid rgba(#999, .9);
	box-shadow: 0px 2px 5px 0px rgba(74,74,74,0.69);
	padding-top: 1rem;
	padding-left: 1rem;
	position: fixed;
	width: 100%;
	z-index: 999;

	display: flex;
	justify-content: space-between;

	ul {
		display: flex;

		li {
			list-style-type: none;
			display: flex;

			a {
				font-size: 1.4rem;
				padding: 1rem 3rem;
				color: $green2;

				&:hover {
					color: $green1;
					text-decoration: none;
				}
			}
		}
	}

	.menu-button {
		margin-right: 2rem;
		margin-top: 1rem;
		font-size: 2rem;
		color: $grey_dark;
		cursor: pointer;

		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		ul {
			position: fixed;
			bottom: 0;
			right: 0;
			flex-direction: column;
			background: #fff;
			width: 50vw;
			height: 86vh;
			margin-right: -50vw;
			transition: .4s ease all;

			&.active {
				margin-right: 0;
				transition: .4s ease all;
			}
		}
	}
}

#logo {
	margin-bottom: 1rem;

	img {
		width: 5rem;
	}
}

.full-height {
	min-height: 96vh;
	position: relative;
	z-index: 33;
}

.background {
	position:  absolute;
	display:  block;
	top: 0;
	left: 0;
	z-index: -33;
} 

section {
	padding: 3rem;

	.title {
		text-align: center;
		margin: 1rem 0 3rem;
		color: $grey_dark;
		font-size: 1.8rem;
		text-transform: uppercase;
	}
}

.btn-theme {
	background: $green1;
	font-size: 1.6rem;
	color: #fff;
	margin-top: 1rem;

	&:hover {
		background: $green2;
		color: #fff;
	}
}

.btn-theme-white {
	border: 1px solid transparent;
	background: #fff;
	font-size: 1.6rem;
	margin: 1rem;
	color: $grey_dark;
	padding: .8rem 2rem;
	transition: .4s ease all;

	&:hover {
		border: 1px solid #fff;
		background: $green1;
		color: #fff;
		transition: .4s ease all;
	}
}

.btn-theme-outline {
	border: 1px solid #fff;
	background: transparent;
	font-size: 1.6rem;
	margin: 1rem;
	color: #fff;
	padding: .8rem 2rem;
	transition: .4s ease all;

	&:hover {
		border: 1px solid #fff;
		background: $green1;
		color: #fff;
		transition: .4s ease all;
	}
}

#landing {
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: radial-gradient(ellipse at center, rgba(1,115,123,0.8) 0%, rgba(0,66,70,0.9) 100%);
	text-shadow: 0px 0px 2px $grey_dark;

	.btn {
		text-shadow: none;
	}
}

#skills {
	padding: 8rem 0;

	i {
		font-size: 3rem;
		margin-bottom: 1rem;
		color: $green1;
	}
}

#refs {
	padding: 8rem 0;
	background: #fff;


	.refs-row {
		display: flex;
		margin: 2rem 0;

		.ref {
			text-align: center;
			flex-grow: 1; 
			flex-basis: 0;

			@media screen and (max-width: 992px) {
				margin-bottom: 4rem;
			}
		}
	}	
}

#join {
	background: $green1;
	text-transform: uppercase;
	color: #fff;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	.btn {
		background: #fff;
		font-size: 1.6rem;
		margin: 1rem;
	}
}

#contact {
	
	input[type="text"] {
		@media screen and (max-screen: 992px) {
			margin-bottom: 2rem;
		}
	}
	
}

footer {
	background: $grey_dark;
	color: #fff;
	padding: 5rem;

	.title {
		font-size: 2rem;
	}

	a {
		color: #fff;
		transition: .4s ease all;

		&:hover {
			color: $green1;
			text-decoration: none;
			transition: .4s ease all;
		}
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			list-style-type: none;
		}
	}

	i {
		margin-right: .6rem;
	}

	.socials {
		margin-top: 1rem;

		i {
			font-size: 2.6rem;
			
		}
	}
}

.scroll-top {
	width: 3rem;
	height: 3rem;
	background: $green2;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	bottom: 2rem;
	right: 2rem;
	cursor: pointer;

	z-index: 10;
	transition: .4s ease all;

	&:hover {
		color: #fff;
		text-decoration: none;

		background: $green1;
		transition: .4s ease all;
	}
}
